{
  "presets": [
    "latest",
    "react"
  ],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"],
  "env": {
    "commonjs": {
      "plugins": [
        [
          "transform-es2015-modules-commonjs",
          {
            "loose": true
          }
        ]
      ]
    }
  }
}
