# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
dist
lib

# misc
*.log
.DS_Store
.env
npm-debug.log

# Visual studio code
.vscode
