.itemRemoval__wrapper {
  padding: 10px;
}

.tab-wrapper {
  display: flex;
  align-items: center;
  padding: 0;
}

.tab-container {
  position: relative;
}

.tab-name {
  margin-right: 10px;
  padding: 10px;
}

.tab-cross-icon {
  font-size: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}