.Tabs__wrapper {
  display: flex;
  flex-wrap: wrap;
}





.Tabs__tab,
.Tabs__showMore {
  background: #eee; 
  border: 1px solid #ddd; 
  padding: .7em 1em;
  cursor: pointer;
  z-index: 1;
  white-space: nowrap;
  margin-left: -1px; 
}

.Tabs__tab:first-of-type {
  margin-left: 0;
}

.Tabs__tab--selected {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.Tabs__tab--disabled {
  
}






.Tabs__panel {
  display: none;
  width: 100%;
  margin-top: -1px;
  padding: 1em;
  border: 1px solid #ddd;
  order: 1;
}

.Tabs__panel--selected {
  display: block;
}





.Tabs__showMore {
  position: relative;
}

.Tabs__showMoreList {
  position: absolute;
  right: -1px;
  top: 100%;
}

.Tabs__showMoreList[aria-hidden='true'] {
  display: none;
}






.Tabs__collapsed  .Tabs__tab {
  width: 100%;
}
.Tabs__collapsed  .Tabs__panel {
  order: 0;
}






/* resize detection */
.resize-triggers { 
  visibility: hidden; 
  opacity: 0; 
}

.resize-triggers, 
.resize-triggers > div, 
.contract-trigger:before { 
  content: " "; 
  display: block; 
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100%; 
  width: 100%; 
  overflow: hidden; 
}

.resize-triggers > div { 
  background: #eee; 
  overflow: auto; 
}

.contract-trigger:before { 
  width: 200%; 
  height: 200%; 
}